// *** BASE FONTS IMPORT  ***
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

// *** GLOBAL FONT SIZE  ***
html {
  font-size: 62.5%; // ~10px
}

body {
  background: #fcfcfc;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.letter {
  display: inline;
  margin-right: 0.1rem;
}

.nav {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 20%;

  &__logo {
    color: #f8360b;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    display: inline-block;
    margin-left: 3rem;
    @include trans;
    letter-spacing: 0.1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__link,
  &__btn {
    color: #f8360b;
    border-bottom: 0.2rem solid transparent;
    @include trans;
  }

  &__link {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:hover {
      border-bottom: 0.2rem solid #f8360b;
    }
  }

  &__btn {
    padding: 1rem;
    @include brr(0.8, 0.1, solid, #f8360b);

    &:hover {
      color: #fff;
      background: #f8360b;
    }
  }
}

section {
  display: grid;
  justify-content: center;
  align-content: center;
}

.content {
  width: 100vw;
  position: relative;

  &__nav {
    @include absolute(top 50% left 5%);
    transform: translateY(-50%);
    background-color: #f8360b;
    @include padd(3, 3, 4, 7);
    box-shadow: 0.4rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 2;

    &__heading h5 {
      font-weight: 300;

      &:nth-child(1) {
        font-size: 1.3rem;
        color: #fff;
        @include marg(0.7);
      }

      &:nth-child(2) {
        color: orange;
      }
    }

    &__list {
      @include marg(4, 8);
      display: flex;
      flex-direction: column;
    }

    &__link {
      color: orange;
      display: inline-block;
      @include padd(1);
      @include trans;

      // &:hover {
      //   color: #fff;
      // }
    }

    &__bottom {
      font-size: 1.1rem;
      color: #fff;
      width: 8rem;
      line-height: 1.2;
      font-weight: 300;

      p {
        @include marg(0.5);
      }
    }
  }

  &__slider {
    width: 68vw;
    height: 60vh;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    @include absolute(top 50% left 50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__texts {
    @include size(36, 22);
    @include absolute(top 50% right 5%);
    transform: translateY(-50%);
    padding: 3rem 4rem;
    background: rgba($color: #fff, $alpha: 0.8);
    box-shadow: 0.4rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 2;

    &__info {
      color: #555555;
      width: 7rem;
      line-height: 1.2;
      font-size: 1.1rem;
      font-weight: 300;
    }

    &__name,
    &__desc {
      font-weight: 400;
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
    }

    &__name {
      @include marg(1, 3);
    }

    &__desc {
      color: #f8360b;
      @include marg(3);
    }

    &__footer {
      color: #555555;
      font-size: 1.3rem;
    }
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;

  &__item {
    color: #555555;
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 300;
    font-size: 1.4rem;
    border-bottom: 0.2rem solid transparent;
    @include trans;

    &:hover {
      border-bottom: 0.2rem solid #f8360b;
    }
  }
}
