doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Playground Foundation
    meta(name="description", content="")
  body
    .nav
      .nav__logo
        h1 Playground
      nav.nav__main
        a(href="#").nav__item.nav__link About Us
        a(href="#").nav__item.nav__link Privacy
        a(href="#").nav__item.nav__btn Sign In
    section
      .content
        .content__nav
          .content__nav__heading
            h5 We are
            h5 educational
          .content__nav__list
            a(href="#")#artLink.content__nav__link Art
            a(href="#")#workLink.content__nav__link Works
            a(href="#")#onlineLink.content__nav__link Online
            a(href="#")#collectionLink.content__nav__link Collection
          .content__nav__bottom
            p Directed by playground
        .content__slider
          img(src="https://images.unsplash.com/photo-1453814235491-3cfac3999928?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
        .content__texts
          h5.content__texts__info Playground interview
          h4.content__texts__name Benjamin Vnuk
          h4.content__texts__desc Muse magazine
          h4.content__texts__footer Curated by Arknet
    footer.footer
      a(href="#").footer__item Subscribe for news
      a(href="#").footer__item Be a partner